web/WEB-INF/schema/request/estimate-req.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="products" type="products"/>
    <xsd:complexType name="products">
        <xsd:sequence>
            <xsd:element name="product" type="product" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="product">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="value" type="xsd:integer"/>
            <xsd:element name="unit" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>